
VITE_BACKEND_URL=http://localhost:4000

VITE_FIREBASE_API_KEY=AIzaSyBr_Or-oBB6wULVJbJHPR5j4phcRL5LX3A
VITE_FIREBASE_AUTH_DOMAIN=ecocyclehub-f9e53.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ecocyclehub-f9e53
VITE_FIREBASE_STORAGE_BUCKET=ecocyclehub-f9e53.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=617427759071
VITE_FIREBASE_APP_ID=1:617427759071:web:141ae7818c4f1685f01e6a

